.table{
    color: chocolate;
}
.time{
    color: turquoise;
}
.courses{
    color: royalblue;
}
.Monday{
    color: crimson;
}
.Tuesday{
    color: grey;
}
.Wednesday{
    color: darkcyan;
}
.Thursday{
    color: green;
}
.Friday{
    color: rgb(231, 184, 63);
}